<p id="messagebox"></p>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :passworld %>
  <br>
  <button type="button" id="Login_button">Log In</button>
  <button type="button" id="Signup_button">Sign Up</button>
<% end %>
